.back 
{
	
}
.header 
{
background-color: #eac7b6;
border:  1px dotted #ffffff;
padding: 15px 32px;
font-size: 30px;
width: 120px;
height:40px;
position: relative;
left: 20px;

}
.pic
{
	text-align: center;

}
.menu
{
background-color: #eac7b6;
border:  1px dotted #ffffff;
padding: 15px 32px;
font-size: 15px;
width: 115px;
height:40px;
position: relative;
left: 20px;

}
.menui
{
	position: relative;
bottom: 30px;
right: 1px;

}
.menut
{
	position:relative;
	bottom:13px;

}
.locations
{
background-color: #eac7b6;
border:  1px dotted #ffffff;
padding: 15px 32px;
font-size: 15px;
width: 115px;
height:40px;
position: relative;
left: 520px;
bottom: 70px;
}
.contact
{
background-color: #eac7b6;
border:  1px dotted #ffffff;
padding: 15px 32px;
font-size: 15px;
width: 115px;
height:40px;
position: relative;
left: 1020px;
bottom: 140px;
}


/*Large Devices */
@media (min-width: 1200px)
	{
	.col-lg-1 {
		width: 8.33%;
	}

	.col-lg-2 {
		width: 16.66%;
	}

	.col-lg-3 {
		width: 25%;
	}

	.col-lg-4 {
		width: 33.33%;
	}

	.col-lg-5 {
		width: 41.66%;
	}

	.col-lg-6 {
		width: 50%;
	}

	.col-lg-7 {
		width: 58.33%;
	}

	.col-lg-8 {
		width: 66.66%;
	}

	.col-lg-9 {
		width: 74.99%;
	}

	.col-lg-10 {
		width: 83.33%;
	}

	.col-lg-11 {
		width: 91.66%;
	}

	.col-lg-12 {
		width: 100%;
	}
}
/* Medium Devices */
@media 
(max-width: 1199px) 

{


	.col-md-1 {
		width: 8.33%;
	}

	.col-md-2 {
		width: 16.66%;
	}

	.col-md-3 {
		width: 25%;
	}

	.col-md-4 {
		width: 33.33%;
	}

	.col-md-5 {
		width: 41.66%;
	}

	.col-md-6 {
		width: 50%;
	}

	.col-md-7 {
		width: 58.33%;
	}

	.col-md-8 {
		width: 66.66%;
	}

	.col-md-9 {
		width: 74.99%;
	}

	.col-md-10 {
		width: 83.33%;
	}

	.col-md-11 {
		width: 91.66%;
	}

	.col-md-12 {
		width: 100%;
	}

	div{
	position:static;
}
}

